@using MVC_Library.Models.Entity
@model List<TblMessage>

@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<h3>Sended Message List</h3>
<table class="table table-bordered">
    <tr>
        <th>Receiver</th>
        <th>Subject</th>
        <th>Message</th>
        <th>Operation</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.messageReceiver</td>
            <td>@item.messageSubject</td>
            <td>@item.messageContaext</td>
        </tr>
    }
</table>