@model MVC_Library.Models.Entity.TblEmployee

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Date</label>
        <input type="text" class="form-control" name="employeeNameSurname" />
    </div>
    <div style="margin-top:10px">
        <button class="btn btn-success">SAVE</button>
    </div>
</form>