@model MVC_Library.Models.Entity.TblEmployee

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Edit", "Employee", FormMethod.Post))
{
    <div>
        <label>Name Surname</label>
        @Html.TextBoxFor(m => m.employeeNameSurname, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.employeeId)
    <div style="margin-top:10px">
        <button class="btn btn-success">UPDATE</button>
    </div>
}